* {
  max-height: 100vh;
  max-width: 100vw;
}
body {
  margin: 0;
  background-color: rgb(254, 254, 232);
  color: rgb(146, 111, 37);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  background-color: rgb(239, 234, 203);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.heading {
  margin: 5px;
  font-size: 30px;
}
.feedback {
  display: flex;
  padding: 20px 0;
  font-weight: 700;
}
.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}
.rating:hover,
.rating.active {
  background: rgb(239, 214, 180);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 214, 165, 0.865);
  color: rgb(83, 44, 13);
  transition: all 300ms ease;
}
.rating img {
  width: 47px;
}
.btn {
  background-color: rgb(229, 178, 116);
  color: rgb(94, 70, 17);
  font-weight: 900;
  letter-spacing: 0.8px;
  border: 0;
  margin: 10px;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px gray;
  transition: all 300s ease;
  color: aquamarine;
}
.btn:active {
  transform: scale(0.96);
}
